<div class="zonal-long-exposure-wrapper">
  <div class="zonal-long-exposure">
    <h5>Exposure Index</h5>
    <div class="zonal-long-table zonal-long-table-exposure">
      <div class="zonal-long-table-row">
        <div class="zonal-long-table-placeholder zonal-long-table-item"></div>
        <div class="zonal-long-table-header zonal-long-table-header-low zonal-long-table-header-threat zonal-long-table-item">Low</div>
        <div class="zonal-long-table-header zonal-long-table-header-med zonal-long-table-header-threat zonal-long-table-item">Med</div>
        <div class="zonal-long-table-header zonal-long-table-header-high zonal-long-table-header-threat zonal-long-table-item">High</div>
      </div>
      <div class="zonal-long-table-row">
        <div class="zonal-long-table-header zonal-long-table-header-high zonal-long-table-header-asset zonal-long-table-item">High</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-mediumlow zonal-long-table-item">3</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-high zonal-long-table-item">6</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-highest zonal-long-table-item">9</div>
      </div>
      <div class="zonal-long-table-row">
        <div class="zonal-long-table-header zonal-long-table-header-med zonal-long-table-header-asset zonal-long-table-item">Med</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-low zonal-long-table-item">2</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-medium zonal-long-table-item">4</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-high zonal-long-table-item">6</div>
      </div>
      <div class="zonal-long-table-row">
        <div class="zonal-long-table-header zonal-long-table-header-low zonal-long-table-header-asset zonal-long-table-item">Low</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-lowest zonal-long-table-item">1</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-low zonal-long-table-item">2</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-mediumlow zonal-long-table-item">3</div>
      </div>
      <div class="zonal-long-table-bar-wrapper zonal-long-table-bar-wrapper-exposure">
        <div class="zonal-long-table-bar zonal-long-table-bar-threat zonal-long-table-bar-threat-exposure"></div>
        <div class="zonal-long-table-bar zonal-long-table-bar-asset zonal-long-table-bar-asset-exposure"></div>
      </div>
    </div>
  </div>

  <div class="zonal-long-asset-threat">
    <h5>Asset and Threat Indexes</h5>
    <div class="zonal-long-table-index">
      <h6>Asset Ranking</h6>
      <div class="zonal-long-table zonal-long-table-asset">
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-header zonal-long-table-header-low zonal-long-table-header-asset zonal-long-table-item">Low</div>
          <div class="zonal-long-table-header zonal-long-table-header-med zonal-long-table-header-asset zonal-long-table-item">Med</div>
          <div class="zonal-long-table-header zonal-long-table-header-high zonal-long-table-header-asset zonal-long-table-item">High</div>
        </div>
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-cell zonal-long-table-cell-lowest zonal-long-table-item">1</div>
          <div class="zonal-long-table-cell zonal-long-table-cell-low zonal-long-table-item">2</div>
          <div class="zonal-long-table-cell zonal-long-table-cell-mediumlow zonal-long-table-item">3</div>
        </div>
        <div class="zonal-long-table-bar-wrapper zonal-long-table-bar-wrapper-asset">
          <div class="zonal-long-table-bar zonal-long-table-bar-asset zonal-long-table-bar-asset-asset"></div>
        </div>
      </div>
    </div>

    <div class="zonal-long-table-index">
      <h6>Threat Ranking</h6>
      <div class="zonal-long-table zonal-long-table-threat">
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-header zonal-long-table-header-low zonal-long-table-header-threat zonal-long-table-item">Low</div>
          <div class="zonal-long-table-header zonal-long-table-header-med zonal-long-table-header-threat zonal-long-table-item">Med</div>
          <div class="zonal-long-table-header zonal-long-table-header-high zonal-long-table-header-threat zonal-long-table-item">High</div>
        </div>
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-cell zonal-long-table-cell-lowest zonal-long-table-item">1</div>
          <div class="zonal-long-table-cell zonal-long-table-cell-low zonal-long-table-item">2</div>
          <div class="zonal-long-table-cell zonal-long-table-cell-mediumlow zonal-long-table-item">3</div>
        </div>
        <div class="zonal-long-table-bar-wrapper zonal-long-table-bar-wrapper-threat">
          <div class="zonal-long-table-bar zonal-long-table-bar-threat zonal-long-table-bar-threat-threat"></div>
        </div>
      </div>
    </div>
  </div>
</div>
