#zonal-area-wrapper {
  width: 100%;
}

.zonal-wrapper {
  margin-bottom: 10px;

  > div, > button {
    display: inline-block;
    vertical-align: top;
  }
}

.zonal-hub {
  background-color: white;
  border-radius: 50%;
  position: relative;
  width: 25px;
  height: 25px;
  left: 50%;
  margin-left: -7px;
}

.zonal-hub-in:after {
  content: '\2713';
  position: absolute;
  top: -1px;
  left: 5px;
  color: green;
  font-size: 20px;
}

.zonal-hub-out:after {
  content: '\274C';
  position: absolute;
  top: 6px;
  left: 6px;
  color: red;
  font-size: 10px;
}

.zonal-expand-button {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 0;

  &:after {
    position: absolute;
    top: 1px;
    left: 1px;
    content: "\2795";
  }
}

.zonal-box {
  display: inline-block;
  width: 45%;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
}

div.zonal-asset {
  margin-right: 0;
}

#zonal-header {
  margin-bottom: 15px;
}

.zonal-header-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  &.zonal-header-details {
    width: 15%;
    text-align: left;
  }

  &.zonal-header-hub {
    width: 15%;
  }

  &.zonal-header-fish-wildlife, &.zonal-header-exposure {
    width: 33%;
  }
}

.zonal-header-item-top {
  font-size: 13px;
  font-weight: bold;
}

.zonal-header-item-bottom {
  font-size: 13px;
}

.zonal-header-item-label {
  display: inline-block;

  &:first-child {
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
  }
}

.zonal-label {
  width: 15%;
}

div.zonal-hub-wrapper {
  width: 15%;
  margin-right: 12px;
}

.zonal-item {
  width: 33%;
  text-align: center;
}

.zonal-long-table-exposure {
  position: relative;
  display: inline-block;
  font-size: 12px;
}

.zonal-long-table-item {
  display: inline-block;
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  vertical-align: top;
  margin: 2px 1px 2px 0px;
}

.zonal-long-table-header {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    line-height: 16px;
    bottom: 2px;
    left: 20px;
    border-radius: 50%;
  }

  &-low:after {
    content: "1";
  }

  &-med:after {
    content: "2";
  }

  &-high:after {
    content: "3";
  }

  &-threat:after {
    background-color: #d4182b;
  }

  &-asset {
      line-height: 40px;

      &:after {
          bottom: 10px;
          background-color: #68ace7;
      }
  }
}

.zonal-long-table-cell {
  &-lowest {
    background-color: #568b93;
  }

  &-low {
    background-color: #7db0a3;
  }

  &-mediumlow {
    color: #000;
    background-color: #d4e5ba;
  }

  &-medium {
    color: #000;
    background-color: #ecd79c;
  }

  &-high {
    background-color: #c38e59;
  }

  &-highest {
    background-color: #9b5526;
  }
}

.zonal-long-table-bar-wrapper {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 75%;
  height: 75%;
}

.zonal-long-table-bar {
  position: absolute;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .4);

  &-threat {
    height: 100%;
    width: 3px;
    top: 0;
    background-color: #d4182b;
  }

  &-asset {
    height: 3px;
    width: 100%;
    left: 0;
    background-color: #68ace7;
  }
}

.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
